### -- We are exposing only the keys that BigBang overrides from the upstream chart. 
### Please refer to the upstream chart via "helm show values ./chart/charts/<upstream-package.tar.gz>" for other value configs.
### @default -- Upstream chart values
upstream:
  nameOverride: karpenter
  fullnameOverride: karpenter
  serviceMonitor:
    enabled: false # Enable if you are using monitoring
    endpointConfig:
      scheme: https
      tlsConfig:
        caFile: /etc/prom-certs/root-cert.pem
        certFile: /etc/prom-certs/cert-chain.pem
        keyFile: /etc/prom-certs/key.pem
        insecureSkipVerify: true 
  imagePullSecrets:
    - name: private-registry
  controller:
    image:
      repository: registry1.dso.mil/ironbank/opensource/aws/karpenter/controller
      tag: 1.8.3
      digest: ""
    resources:
      requests:
        cpu: 1
        memory: 4Gi
      limits:
        cpu: 2
        memory: 8Gi
monitoring:
  enabled: false
bbtests:
  enabled: false
  scripts:
    image: "registry1.dso.mil/ironbank/big-bang/devops-tester:1.0"
bb-common:
  istio:
    enabled: true
    injection: enabled
    sidecar:
      enabled: true
    authorizationPolicies:
      enabled: true
      generateFromNetpol: true
      defaults:
        enabled: true
  routes:
    inbound:
      aws:
        enabled: true
        gateways:
          - istio-gateway/public-ingressgateway
        hosts:
          - ec2.us-gov-east-1.amazonaws.com
          - ec2.us-gov-west-1.amazonaws.com
          - eks.us-gov-east-1.amazonaws.com
          - eks.us-gov-west-1.amazonaws.com
        service: karpenter
        port: 443
        selector:
          app.kubernetes.io/name: karpenter
  networkPolicies:
    enabled: true
    ingress:
      defaults:
        enabled: true
      to:
        karpenter:
          from:
            k8s:
              monitoring/prometheus: true       
                    
    egress:
      defaults:
        enabled: true
      from:
        karpenter:
          to:
            definition:
              kubeAPI: true
            cidr:
              35.71.115.0/24:443: true
              52.119.208.0/23:443: true
              15.205.0.0/16:443: true
              52.95.100.0/22:443: true
              108.175.56.0/22:443: true
              52.94.152.184/32:443: true
              35.111.252.0/24:443: true
              136.18.0.0/23:443: true
              76.223.168.0/24:443: true
              56.137.0.0/16:443: true
              99.77.183.0/24:443: true
              3.30.0.0/15:443: true
              56.136.0.0/16:443: true
              52.94.152.189/32:443: true
              160.1.0.0/16:443: true
              16.67.0.0/16:443: true
              3.32.0.0/16:443: true
              182.30.0.0/16:443: true
              52.94.152.190/32:443: true
              108.175.52.0/22:443: true
              52.94.152.191/32:443: true
              52.46.224.0/20:443: true
              108.175.60.0/22:443: true
              52.61.0.0/16:443: true
              3.45.64.0/18:443: true
              40.39.0.0/16:443: true
              16.65.0.0/16:443: true
              52.94.248.224/28:443: true
              56.139.0.0/16:443: true
              52.94.152.195/32:443: true
              13.166.0.0/15:443: true
              52.94.22.0/24:443: true
              52.94.152.187/32:443: true
              56.138.0.0/16:443: true
              16.153.0.0/16:443: true
              18.99.240.0/20:443: true
              18.252.0.0/16:443: true
              108.175.48.0/22:443: true
              99.77.184.0/24:443: true
              52.94.152.185/32:443: true
              96.127.0.0/17:443: true
              3.4.16.0/21:443: true
              99.151.96.0/21:443: true
              182.29.0.0/16:443: true
              52.94.9.0/24:443: true
              182.28.0.0/16:443: true
              35.71.116.0/24:443: true
              16.152.0.0/16:443: true
              52.94.198.32/28:443: true
              205.251.236.0/22:443: true
              52.222.0.0/17:443: true
              16.64.0.0/17:443: true
              52.94.152.186/32:443: true
              35.111.253.0/24:443: true
              15.200.0.0/16:443: true
              18.253.0.0/16:443: true
              52.94.249.112/28:443: true
              16.66.0.0/16:443: true
              52.46.96.0/19:443: true
              54.239.0.128/28:443: true
              52.94.152.188/32:443: true
              52.94.152.192/32:443: true
              52.94.152.194/32:443: true
              52.94.152.193/32:443: true
              54.239.1.64/28:443: true
              75.79.0.0/16:443: true
              18.99.112.0/20:443: true
              40.38.0.0/16:443: true
              18.254.0.0/16:443: true
              3.4.24.0/21:443: true
              52.46.176.0/22:443: true
              18.96.8.0/21:443: true
              16.64.102.0/23:443: true
              16.64.36.0/23:443: true
              18.252.126.0/25:443: true
              18.252.165.0/26:443: true
              18.252.58.0/23:443: true
              18.254.23.64/26:443: true
              18.254.61.128/26:443: true
              182.30.13.192/26:443: true
              182.30.157.0/26:443: true
              182.30.85.0/26:443: true
              182.30.85.128/25:443: true
              15.200.150.0/23:443: true
              15.200.176.192/26:443: true
              15.205.2.192/26:443: true
              3.30.98.128/26:443: true
              3.30.98.64/26:443: true
              3.32.190.0/25:443: true
              56.136.0.192/26:443: true
              56.136.121.0/25:443: true
              56.136.224.0/23:443: true
              56.137.224.0/23:443: true
              56.137.38.0/23:443: true
              35.71.115.0/24:443: true
              15.205.0.0/16:443: true
              108.175.56.0/22:443: true
              35.111.252.0/24:443: true
              136.18.0.0/23:443: true
              56.137.0.0/16:443: true
              99.77.183.0/24:443: true
              3.30.0.0/15:443: true
              56.136.0.0/16:443: true
              160.1.0.0/16:443: true
              3.32.0.0/16:443: true
              182.30.0.0/16:443: true
              108.175.60.0/22:443: true
              52.61.0.0/16:443: true
              3.45.64.0/18:443: true
              16.65.0.0/16:443: true
              52.94.248.224/28:443: true
              18.99.240.0/20:443: true
              18.252.0.0/16:443: true
              99.77.184.0/24:443: true
              96.127.0.0/17:443: true
              3.4.16.0/21:443: true
              99.151.96.0/21:443: true
              35.71.116.0/24:443: true
              52.222.0.0/17:443: true
              16.64.0.0/17:443: true
              35.111.253.0/24:443: true
              15.200.0.0/16:443: true
              18.253.0.0/16:443: true
              52.94.249.112/28:443: true
              18.99.112.0/20:443: true
              40.38.0.0/16:443: true
              18.254.0.0/16:443: true
              3.4.24.0/21:443: true
              18.96.8.0/21:443: true
