### -- We are exposing only the keys that BigBang overrides from the upstream chart. 
### Please refer to the upstream chart via "helm show values ./chart/charts/<upstream-package.tar.gz>" for other value configs.
### @default -- Upstream chart values

upstream:
  nameOverride: karpenter
  fullnameOverride: karpenter
  imagePullSecrets:
    - name: private-registry
  controller:
    image:
      repository: registry1.dso.mil/ironbank/opensource/aws/karpenter/controller
      tag: 1.6.3
      digest: ""
    resources:
      requests:
        cpu: 1
        memory: 4Gi
      limits:
        cpu: 2
        memory: 8Gi